
.name1{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.text{
    color: white;
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 300px;
  grid-template-areas:
    ". a a ."
    ". a a .";
}
.name1{
        grid-area: a;
        align-self: center;
        justify-self: center;
}
.home{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.about{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.skills{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.works{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.contact{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.header{
    position: fixed;
    text-align: center;
    display: grid;
    grid-template-columns:  4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}
body{
    background-repeat: no-repeat;
    background-size: 100%;
    background-color:grey;
}
.aboutme{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    margin-top: 140px;
}
.textaboutme{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    margin-top: 200px;
}
.textmyskills{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    margin-top: 350px;  
}
.foto1{
    width: 170px;
    height: 170px;
    margin-left: 220px;
    margin-top: 140px;
}
.foto2{
    width: 170px;
    height: 170px;
    margin-left: 220px;
    margin-top: 140px;
}
.foto3{
    width: 170px;
    height: 170px;
    margin-left: 220px;
    margin-top: 140px;
}
.foto4{
    width: 170px;
    height: 170px;
    margin-left: 220px;
    margin-top: 140px;
    
}
.foto5{
    width: 170px;
    height: 170px;
    margin-left: 220px;
    margin-top: 140px;
    
}
.foto6{
    width: 170px;
    height: 170px;
    margin-left: 220px;
    margin-top: 140px; 
}