
.name1{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 200px;
}
.text{
    color: white;
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 300px;
  grid-template-areas:
    ". a a ."
    ". a a .";
}
.name1{
    grid-area: a;
    align-self: center;
    justify-self: center;
}
.home{
    color: white;
    font-weight: bold;
    font-size: 20px;    
}
.about{
    color: white;
    font-weight: bold;
    font-size: 20px;   
}
.skills{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.works{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.contact{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.header{
    position: fixed;
    display: grid;
    background-color:whitesmoke;
    width:1420px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
body{
    background-repeat: no-repeat;
    background-size: 100%;
    background-color:grey;
}
.aboutme{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    margin-top: 100px;
}
.textaboutme{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    margin-top: 200px;
    padding-top: 200px;
}
.textmyskills{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    padding-top: 100px;
    margin-top: 300px;
}
.foto1{
    width: 170px;
    height: 170px;
    margin-left: 220px;
    margin-top: 140px;
}
.foto2{
    height: 170px;
    margin-left: 220px;
    margin-top: 140px;
    width: 150px;
}
.foto3{
    width: 170px;
    height: 170px;
    margin-left: 220px;
    margin-top: 140px;
}
.foto4{
    width: 170px;
    height: 170px;
    margin-left: 220px;
    margin-top: 140px;
    
}
.foto5{
    width: 170px;
    height: 170px;
    margin-left: 220px;
    margin-top: 140px;
    
}
.foto6{
    width: 170px;
    height: 170px;
    margin-left: 220px;
    margin-top: 140px; 
}
.workss{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    margin-top: 350px; 
    padding-top: 200px; 
}
.works_foto1{
    width: 500px;
    height: 300px;
    margin-left: 150px;
    margin-top: 200px;  
}
.works_foto1:hover{
    transition: 1s;
    transform: scale(1.2);
}
.works_foto2{
    width: 500px;
    height: 300px;
    margin-left: 150px;
    margin-top: 200px;
}
.works_foto2:hover{
    transition: 1s;
    transform: scale(1.2);
}
.works_foto3{
    width: 500px;
    height: 300px;
    margin-left: 150px;
    margin-top: 100px;
}
.works_foto3:hover{
    transition: 1s;
    transform: scale(1.2);
}
.works_foto4{
    width: 500px;
    height: 300px;
    margin-left: 150px;
    margin-top: 100px;
}
.works_foto4:hover{
    transition: 1s;
    transform: scale(1.2);
} 
.contactss{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    margin-top: 350px;   
}
.contact-center{
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 150px 400px;
    column-gap: 170px;
    row-gap: 30px;
    padding-bottom: 80px;
    margin:150px;
}
.lines-text{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.send{
    width: 120px;
    height: 30px;
    border: 2px solid white;
    border-radius: 0.25rem;
    background: none;
    color:white;
    margin-top: 15px;
}
.send:hover{
    background: #795548;
    color: white;
}
.input-name{
    background-color: #44475a;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.input-email{
    background-color: #44475a;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    margin-top: 15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.input-text{
    height: 100px;
    background-color: #44475a;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    margin-top: 15px;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
textarea{
     overflow: auto;
    resize: vertical;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}
.aboutdugka{
    width: 100px;
    height: 100px;
    margin-left: 650px;
    margin-top: 70px;
}
@media screen and (max-width:1023px;){
   *{
       font-size:0.9em;
   }
}
@media screen and (max-width:640px;){
    *{
        font-size:0.6em;
    }
}
